

<!DOCTYPE html>
<html>
<head>
    <title>Order Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            color: #27ae60;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Order Placed Successfully!</h1>
    <p>Thank you for your purchase. Your order has been successfully placed.</p>
    <!-- <p>Your order number is: <strong>#123456</strong></p> -->
    <p>An email with the order details has been sent to your registered email address.</p>
    <div class="cart-action text-center">
        <a class="btn " href="/get-last-order"><i class="fi-rs-shopping-bag mr-10"></i>View your Order</a>
      </div>
</body>
</html>
